body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    text-align: center;
}

.headshot {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px auto;
}

h1, h2, h3 {
    color: #333;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 10px;
    text-align: center;
    flex: 1 1 200px; /* Flexible basis with minimum size */
    max-width: 300px; /* Maximum width for larger screens */
}

.project a {
    text-decoration: none;
    color: #00f;
    display: block;
    transition: transform 0.2s;
}

.project img {
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.project p {
    font-weight: bold;
    margin-top: 5px;
}

.project a:hover img {
    border-color: #00f;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    cursor: pointer;
}

.project a:hover {
    transform: scale(1.05);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
